<!-- <button fxHide fxShow.lt-sm class="fab" mat-mini-fab>
  <mat-icon>color_lense</mat-icon>
</button> -->
<!-- <button fxShow fxHide.lt-sm class="fab" mat-fab>
  <mat-icon>color_lense</mat-icon>
</button> -->
<mat-toolbar class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <button color="primary" mat-icon-button>
    <mat-icon>palette</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon>colorize</mat-icon>
  </button>
  <mat-slider color="primary" (pointerdown)="toggleBrush($event)" (pointerup)="toggleBrush($event)" (input)="onSliderMove($event)"
    [value]="brushSize" [min]="2" [max]="50" [step]="2" [thumb-label]="true">
  </mat-slider>
  <button [class.mat-select-content]="!isBrushActive" (click)="isBrushActive = false;" mat-icon-button color="primary">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <button [class.mat-select-content]="isBrushActive" [color]="isErasing ? 'accent' : 'primary'" mat-icon-button [class.erase]="isErasing" (click)="isErasing = !isErasing; showBrush($event); isBrushActive = true;">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>

<div class="brush" *ngIf="isSliding">
  <span class="circle circle__outer" [class.erase]="isErasing">
    <span class="circle circle__inner" [class.erase]="isErasing" [style.width.px]="brushSize" [style.height.px]="brushSize"></span>
  </span>
</div>