<mat-toolbar class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <app-color-picker [color]="color" (colorChange)="colorChange.emit($event)"></app-color-picker>
  <button disabled mat-icon-button color="primary">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-slider color="primary" (input)="onSliderMove($event)" [value]="sliderValue" [min]="1" [max]="50" [step]="1" [thumb-label]="true"></mat-slider>
  <button disabled mat-icon-button color="primary" [class.mat-select-content]="false">
    <mat-icon>open_with</mat-icon>
  </button>
  <button mat-icon-button color="primary" [class.erase]="!isActiveTool(ToolType.Eraser)" (click)="onBrushClick()">
    <mat-icon *ngIf="isActiveTool(ToolType.Eraser)">edit</mat-icon>
    <mat-icon *ngIf="!isActiveTool(ToolType.Eraser)">highlight</mat-icon>
  </button>
</mat-toolbar>