<div class="canvas-wrapper">
  <canvas #canvas class="canvas mat-elevation-z6"></canvas>
</div>
<app-context-menu
  [color]="color$ | async"
  [sliderValue]="toolSize$ | async"
  [activeTool]="activeTool$ | async"
  (toolChange)="onToolChange($event)"
  (sizeChange)="onSizeChange($event)"
  (colorChange)="onColorChange($event)">
</app-context-menu>

<!-- todo: create component -->
<div class="brush" *ngIf="showBrushDisplay">
  <span class="circle circle__outer">
    <span
      class="circle circle__inner"
      [style.background-color]="brushDisplayColor$ | async"
      [style.width.px]="toolSize$ | async"
      [style.height.px]="toolSize$ | async">
    </span>
  </span>
</div>
