<div class="canvas-wrapper mat-elevation-z6">
  <canvas #canvas class="canvas"></canvas>
</div>

<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="1px">
  <button mat-raised-button mat-icon-button>
    <mat-icon>redo</mat-icon>
  </button>
  <button mat-raised-button mat-icon-button (click)="undoDrawing()">
    <mat-icon>undo</mat-icon>
  </button>
</div>

<app-context-menu [color]="color$ | async" [sliderValue]="toolSize$ | async" [activeTool]="activeTool$ | async" (toolChange)="onToolChange($event)"
  (sizeChange)="onSizeChange($event)" (colorChange)="onColorChange($event)">
</app-context-menu>

<app-brush class="brush" *ngIf="showBrushDisplay" [size]="toolSize$ | async" [color]="brushDisplayColor$ | async"></app-brush>
