:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: 15px;
}

.canvas {
  position: absolute;
  min-width: 2000px;
  min-height: 2000px;
  touch-action: none;
  cursor: crosshair;
  background-color: #ffffff;
  color: #000000;
}

.undo-redo-bar {
  &__undo {
    position: absolute;
    right: 15px;
    margin-top: -56px;
  }

  &__redo {
    position: absolute;
    left: 15px;
    margin-top: -56px;
  }
}

.brush {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}
