:host{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  position:relative;
  overflow: hidden;

  margin: 15px;
}

.canvas {
  position:absolute;

  min-width: 2000px;
  min-height: 2000px;

  touch-action: none;
  cursor: crosshair;

  background-color: #ffffff;
  color: #000000;
}

.brush {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  border-radius: 50%;
  display: inline-block;

  &__outer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
  }

  &__inner {
    width: 4px;
    height: 4px;
    border: 0;
    border: 1px solid #000000;
  }
}
