<div class="canvas-wrapper mat-elevation-z6">
  <canvas #canvas class="canvas"></canvas>
</div>

<div class="undo-redo-bar">
  <button *ngIf="redoable$ | async" mat-raised-button mat-icon-button class="undo-redo-bar__redo" (click)="redoDrawing()">
    <mat-icon>redo</mat-icon>
  </button>
  <button *ngIf="undoable$ | async" mat-raised-button mat-icon-button class="undo-redo-bar__undo" (click)="undoDrawing()">
    <mat-icon>undo</mat-icon>
  </button>
</div>

<app-context-menu [color]="(drawOptions$ | async).color" [sliderValue]="(drawOptions$ | async).size" [activeTool]="activeTool$ | async"
  (toolChange)="onToolChange($event)" (sizeChange)="onSizeChange($event)" (colorChange)="onColorChange($event)" (zoom)="onZoom($event)">
</app-context-menu>

<app-brush *ngIf="showBrushDisplay" class="brush" [size]="(drawOptions$ | async).size" [color]="brushDisplayColor$ | async"></app-brush>
