<mat-toolbar color="primary" class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-between center">

  <div fxLayout="row" fxFlex>
    <button mat-button >
      <mat-icon>color_lense</mat-icon>
    </button>
    <div fxShow fxHide.lt-sm fxFlex>
      <button disabled mat-button routerLink="/link">link</button>
    </div>
  </div>
  <div fxHide fxShow.lt-sm>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu" fxHide fxShow.lt-sm>
    <button disabled mat-menu-item routerLink="/link">
      <mat-icon>dialpad</mat-icon>
      <span>link</span>
    </button>
  </mat-menu>

</mat-toolbar>