@import '~@angular/material/theming';
@import 'theme.scss';

@include mat-core();

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.main-theme {
  @include angular-material-theme($main-theme);
}

.alternative-theme, .offline {
  @include angular-material-theme($alternative-theme);
}