@import '~@angular/material/theming';

$main-primary: mat-palette($mat-deep-orange, 400);
$main-accent: mat-palette($mat-deep-purple, 300);
$main-theme: mat-dark-theme(
    $main-primary,
    $main-accent
);

$alternative-primary: mat-palette($mat-blue);
$alternative-accent: mat-palette($mat-lime);
$alternative-theme: mat-dark-theme(
    $alternative-primary, 
    $alternative-accent
);
